.card-item-recent-container {
  margin-bottom: 20px;
  & .card-image {
    width: 45px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 25%;
    margin-right: 12%;
  }

  & .card-infor {
    padding: 0px;

    .name {
      margin-bottom: 0px;
    }

    .role {
      margin-bottom: 0px;

      color: #808191 !important;
      font-size: 13px;
      font-family: 'Inter';
      font-weight: 600;
    }
  }
}
