.card-item-recent-container {
  cursor: pointer;
  padding: 10px;
  &:hover {
    background-color: #6d5dd3b7;
    color: white;
    border-radius: 5px;
    & .card-infor {
      .role {
        margin-bottom: 0px;
        color: white !important;
      }
    }
  }
  & .card-image {
    width: 50px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 5%;
    margin-right: 5%;
  }

  & .card-infor {
    padding: 0;
    cursor: pointer;
    .name {
      margin-bottom: 0px;
    }

    .role {
      margin-bottom: 0px;
      color: #808191 !important;
      font-size: 13px;
      font-family: 'Inter';
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 1124px) {
  .card-item-recent-container {
    & .card-infor {
      .name {
        padding-right: 40px;
      }
      .role {
        display: none;
      }
    }
  }
}
