.sider-style {
  text-align: center;
  line-height: 120px;
  background-color: white !important;
  border: 1px solid #f3f3f3 !important;
}
.heading-menu-item {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #808191;
  margin-bottom: 16px;
}
.menu-item {
  background-color: var(--primary);
  border: none;
  border-radius: 13px;
}

.profile {
  position: absolute;
  bottom: 5%;
}
