.restart-container {
  width: 100%;
}

.greeting {
  margin-left: 65px;
  .name {
    margin-top: 48px;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
  }

  .title {
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1px;
    text-align: left;
  }
}

.main-card {
  margin-top: 57px;
}

.flip-card-container {
  border-right: 1px solid rgb(238, 238, 238);
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 379px;
  perspective: 400px;

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-card-front {
      background: url('../../assets/images/cardBack.png');
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      transform: rotateY(180deg);
    }

    .flip-card-back {
      color: black;
    }
  }
}

.choose-btn {
  background-color: black;
  color: white;
  width: 255px;
  height: 55px;
  border-radius: 15px;
  margin-top: 50px;
}

.flip-card-recent {
  width: 29.6%;
  position: relative;
  .flip-card-recent-list {
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 3px 12px 15px 2px rgba(227, 230, 236, 0.91);
    width: 66.9%;

    .flip-card-recent-title {
      margin-left: 32px;
      margin-top: 32px;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1260px) {
  .flip-card-recent {
    width: 29.6%;
    position: relative;
    .flip-card-recent-list {
      width: 72%;
    }
  }
}
