.profile-container {
  & .profile-image {
    width: 45px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 999px;
    margin-right: 20px;
  }

  & .profile-infor {
    padding: 0px;

    .name {
      margin-bottom: 0px;
    }

    .role {
      color: #808191 !important;
      font-size: 13px;
      font-family: 'Inter';
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}
@media only screen and (max-width: 1124px) {
  .profile-container {
    position: relative;
    cursor: pointer;

    & .profile-infor {
      display: none;
      position: absolute;
      margin-right: -200px;
      text-align: center;
      border: 1px solid var(--primary);
      padding: 10px;
      background-color: white;
      color: var(--primary);
      border-radius: 10px;

      .role {
        color: var(--primary) !important;
        font-weight: normal;
      }
    }
    &:hover .profile-infor {
      display: block;
      animation: slideIn 1s ease forwards;
    }

    & .profile-image {
      margin-right: 0;
    }
  }

  @keyframes slideIn {
    from {
      margin-right: -170px;
      opacity: 0;
    }
    to {
      margin-right: -170px;
      opacity: 1;
    }
  }
  .profile-infor {
    display: none;
  }
}
